## Chat with the SuperStore Dataset

In [27]:
#importing the necessary dependencies
import os
from langchain.llms import GooglePalm
from dotenv import load_dotenv
load_dotenv()

True

In [28]:
#loading g the llm
llm=GooglePalm(google_api_key=os.environ['GOOGLE_API_KEY'],temperature=0.6)

In [29]:
#connecting to SQL database:Superstore database
from langchain.utilities import SQLDatabase

#db_password: Do Not Use Special Characters
db_user = "root"
db_password = "root1234"
db_host = "localhost"
db_name = "sample_superstore"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE orders (
	`Row_ID` INTEGER,
	`Order_ID` TEXT,
	`Order_Date` TEXT,
	`Ship_Date` TEXT,
	`Ship_Mode` TEXT,
	`Customer_ID` TEXT,
	`Customer_Name` TEXT,
	`Segment` TEXT,
	`Country` TEXT,
	`City` TEXT,
	`State` TEXT,
	`Postal_Code` TEXT,
	`Region` TEXT,
	`Product_ID` TEXT,
	`Category` TEXT,
	`Sub_Category` TEXT,
	`Product_Name` TEXT,
	`Sales` DOUBLE,
	`Quantity` INTEGER,
	`Discount` DOUBLE,
	`Profit` DOUBLE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from orders table:
Row_ID	Order_ID	Order_Date	Ship_Date	Ship_Mode	Customer_ID	Customer_Name	Segment	Country	City	State	Postal_Code	Region	Product_ID	Category	Sub_Category	Product_Name	Sales	Quantity	Discount	Profit
1	CA-2020-152156	11/8/2020	11/11/2020	Second Class	CG-12520	Claire Gute	Consumer	United States	Henderson	Kentucky	42420	South	FUR-BO-10001798	Furniture	Bookcases	Bush Somerset Collection Bookcase	261.9600000000	2	0E-10	41.9136000000
2	CA-2020-152156	11/8/2020	11/11/2020	Second Class	CG-12520	Claire Gute	Consumer	United States	Henderson	Kentucky	42420	South	FUR-CH-10000454	Furniture	Chairs	Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back	731.9400000000	3	0E-10	219.5820000000
3	CA-2020-138688	6/12/2020	6/16/2020	Second Class	DV-13045	Darrin Van Huff	Corporate	United States	Los Angeles	California	90036	West	OFF-LA-10000240	Office Supplies	Labels	Self-Adhesive Address Labels for Typewriters by Universal	14.6200000000	2	0E-10	6.8714000000
*/


CREATE TABLE people (
	`Regional_Manager` TEXT,
	`Region` TEXT
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from people table:
Regional_Manager	Region
Sadie Pawthorne	West
Chuck Magee	East
Roxanne Rodriguez	Central
*/


CREATE TABLE returns (
	`Returned` TEXT,
	`Order_ID` TEXT
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from returns table:
Returned	Order_ID
Yes	CA-2018-100762
Yes	CA-2018-100762
Yes	CA-2018-100762
*/

In [51]:
#using SQL chain
from langchain_experimental.sql import SQLDatabaseChain

#Put verbose=true to view the generated SQL statements
db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True,return_direct=True)

### Exploring the Answers without adding Few Shot Learning

In [58]:
qns1 = db_chain("what is the total number of returns made by the store")

> Entering new SQLDatabaseChain chain...
what is the total number of returns made by the store
SQLQuery:SELECT COUNT(*) FROM returns
SQLResult: [(800,)]
> Finished chain.

In [59]:
qns1

{'query': 'what is the total number of returns made by the store',
 'result': '[(800,)]'}

Need to be more specific to differentiate between the number of products returned and the number of orders returned. Let's check if it can tell the difference.

In [24]:
qns1 = db_chain.run("what is the total number of orders returned to the store")

> Entering new SQLDatabaseChain chain...
what is the total number of orders returned to the store
SQLQuery:SELECT COUNT(*) FROM returns
SQLResult: [(800,)]
Answer:800
> Finished chain.

In [25]:
qns1 = db_chain.run("what is the total number of products returned to the store")

> Entering new SQLDatabaseChain chain...
what is the total number of products returned to the store
SQLQuery:SELECT COUNT(*) AS Total_Products_Returned FROM returns
SQLResult: [(800,)]
Answer:800
> Finished chain.

Seems it can't tell the difference. This is an example of a query that should be used in few shot learning

In [26]:
qns1 = db_chain.run("what is the total sales made by the store")

> Entering new SQLDatabaseChain chain...
what is the total sales made by the store
SQLQuery:SELECT SUM(Sales) FROM orders
SQLResult: [(2272449.8562999545,)]
Answer:2272449.8562999545
> Finished chain.

In [32]:
qns1 = db_chain.run("which state made the highest sales")

> Entering new SQLDatabaseChain chain...
which state made the highest sales
SQLQuery:SELECT State, SUM(Sales) FROM orders GROUP BY State ORDER BY SUM(Sales) DESC LIMIT 1
SQLResult: [('California', 450567.5915000007)]
Answer:California
> Finished chain.

In [34]:
qns1 = db_chain.run("Which state made the highest sales and by how much")

> Entering new SQLDatabaseChain chain...
Which state made the highest sales and by how much
SQLQuery:SELECT State, SUM(Sales) AS Sales FROM orders GROUP BY State ORDER BY Sales DESC LIMIT 1
SQLResult: [('California', 450567.5915000007)]
Answer:California: 450567.5915000007
> Finished chain.

In [35]:
qns1 = db_chain.run("Which region the made the highest sales and by how much")

> Entering new SQLDatabaseChain chain...
Which region the made the highest sales and by how much
SQLQuery:SELECT
  Region,
  SUM(Sales) AS TotalSales
FROM orders
GROUP BY Region
ORDER BY TotalSales DESC
LIMIT 1
SQLResult: [('West', 713471.3445000004)]
Answer:West with 713471.3445000004
> Finished chain.

In [60]:
qns1 = db_chain("How many orders were placed in each city?")

> Entering new SQLDatabaseChain chain...
How many orders were placed in each city?
SQLQuery:SELECT City, COUNT(*) AS Num_Orders FROM orders GROUP BY City ORDER BY Num_Orders DESC
SQLResult: [('New York City', 893), ('Los Angeles', 731), ('Philadelphia', 507), ('San Francisco', 494), ('Seattle', 412), ('Houston', 370), ('Chicago', 301), ('Columbus', 214), ('San Diego', 166), ('Springfield', 158), ('Dallas', 149), ('Jacksonville', 121), ('Detroit', 111), ('Newark', 93), ('Richmond', 88), ('Jackson', 79), ('Columbia', 78), ('Aurora', 67), ('Phoenix', 61), ('San Antonio', 59), ('Arlington', 59), ('Long Beach', 58), ('Louisville', 57), ('Miami', 55), ('Charlotte', 52), ('Henderson', 51), ('Rochester', 51), ('Lakewood', 48), ('Milwaukee', 45), ('Lawrence', 44), ('Fairfield', 43), ('Denver', 43), ('Lancaster', 43), ('Cleveland', 42), ('Baltimore', 42), ('Pasadena', 41), ('San Jose', 41), ('Fayetteville', 40), ('Salem', 40), ('Atlanta', 39), ('Austin', 38), ('Wilmington', 35), ('Tampa', 35), ('Huntsville', 35), ('Decatur', 34), ('Franklin', 34), ('Concord', 31), ('Toledo', 31), ('Tucson', 30), ('Oceanside', 30), ('Providence', 30), ('Lafayette', 30), ('Clinton', 29), ('Nashville', 29), ('Troy', 28), ('Mesa', 28), ('Fort Worth', 27), ('Memphis', 27), ('Omaha', 27), ('Anaheim', 26), ('Oakland', 26), ('Tulsa', 26), ('Roseville', 25), ('Colorado Springs', 25), ('Fresno', 25), ('Portland', 24), ('Burlington', 24), ('Minneapolis', 23), ('Peoria', 23), ('Auburn', 23), ('Smyrna', 23), ('Indianapolis', 23), ('Knoxville', 23), ('Little Rock', 23), ('Everett', 22), ('Raleigh', 22), ('Oklahoma City', 22), ('Monroe', 21), ('Akron', 21), ('Lakeland', 21), ('Florence', 21), ('Glendale', 21), ('Quincy', 19), ('El Paso', 19), ('Paterson', 19), ('Marion', 19), ('Dover', 18), ('Roswell', 18), ('Mcallen', 18), ('Des Moines', 17), ('Hialeah', 17), ('Chesapeake', 17), ('Redlands', 16), ('Brentwood', 16), ('Cincinnati', 16), ('Chester', 16), ('Virginia Beach', 16), ('North Las Vegas', 16), ('Tallahassee', 16), ('Bakersfield', 16), ('Fort Lauderdale', 15), ('Bloomington', 15), ('Lakeville', 15), ('Lowell', 15), ('Yonkers', 15), ('Westminster', 15), ('Carrollton', 15), ('Plano', 15), ('Cranston', 15), ('Gilbert', 14), ('Dublin', 14), ('Inglewood', 14), ('Saint Petersburg', 14), ('Pembroke Pines', 14), ('Edmonds', 14), ('Santa Ana', 14), ('Alexandria', 14), ('Albuquerque', 14), ('Grand Prairie', 13), ('Las Vegas', 13), ('Laredo', 13), ('Plainfield', 13), ('Trenton', 13), ('Riverside', 13), ('Greensboro', 13), ('Sandy Springs', 13), ('Westland', 12), ('Bristol', 12), ('Scottsdale', 12), ('Tempe', 12), ('Kent', 12), ('Midland', 12), ('Sacramento', 12), ('Carlsbad', 11), ('Murfreesboro', 11), ('Manchester', 11), ('Costa Mesa', 11), ('Rockford', 11), ('Jonesboro', 11), ('Mobile', 11), ('Johnson City', 11), ('Newport News', 11), ('Orlando', 11), ('Hempstead', 11), ('Plantation', 11), ('Hollywood', 11), ('Hampton', 11), ('Waterbury', 11), ('Madison', 10), ('Amarillo', 10), ('Montgomery', 10), ('Waynesboro', 10), ('Washington', 10), ('Buffalo', 10), ('Boynton Beach', 10), ('Freeport', 10), ('Parma', 10), ('Suffolk', 10), ('Redmond', 10), ('Meriden', 10), ('Bowling Green', 10), ('Chattanooga', 10), ('Moreno Valley', 10), ('Chico', 10), ('Orem', 9), ('Durham', 9), ('Medina', 9), ('Belleville', 9), ('La Porte', 9), ('Greenville', 9), ('Middletown', 9), ('Provo', 9), ('Watertown', 9), ('Kenosha', 9), ('San Bernardino', 9), ('Sioux Falls', 9), ('Apple Valley', 9), ('Thornton', 9), ('Superior', 9), ('Hattiesburg', 9), ('Saint Charles', 9), ('Fremont', 8), ('Naperville', 8), ('Eagan', 8), ('New Rochelle', 8), ('Parker', 8), ('Mount Vernon', 8), ('Salinas', 8), ('Lansing', 8), ('Coral Springs', 8), ('Pueblo', 8), ('Lorain', 8), ('Irving', 8), ('Vineland', 8), ('Skokie', 8), ('Corpus Christi', 8), ('Redondo Beach', 8), ('Athens', 8), ('Georgetown', 8), ('Santa Barbara', 8), ('Utica', 8), ('Oxnard', 8), ('Morristown', 7), ('Great Falls', 7), ('Asheville', 7), ('Round Rock', 7), ('Brownsville', 7), ('Harrisonburg', 7), ('Pomona', 7), ('Allentown', 7), ('Tigard', 7), ('Spokane', 7), ('Apopka', 7), ('Perth Amboy', 7), ('Southaven', 7), ('Fort Collins', 7), ('Clarksville', 7), ('Wheeling', 7), ('Highland Park', 7), ('Revere', 7), ('Miramar', 7), ('Wichita', 7), ('Fargo', 7), ('Danville', 7), ('Marietta', 7), ('Chandler', 7), ('Westfield', 6), ('Saginaw', 6), ('Hackensack', 6), ('Huntington Beach', 6), ('Vallejo', 6), ('Cary', 6), ('Bossier City', 6), ('Macon', 6), ('Pleasant Grove', 6), ('Bellevue', 6), ('South Bend', 6), ('Lubbock', 6), ('Sunnyvale', 6), ('Passaic', 6), ('Orange', 6), ('Eau Claire', 6), ('Bolingbrook', 6), ('Grand Rapids', 6), ('Overland Park', 6), ('Dearborn Heights', 6), ('Port Arthur', 6), ('Mentor', 6), ('Rome', 6), ('Avondale', 6), ('Pasco', 6), ('League City', 6), ('Waco', 6), ('Pocatello', 6), ('Milford', 6), ('Lake Forest', 6), ('Des Plaines', 6), ('Cambridge', 6), ('Eugene', 6), ('Bryan', 6), ('West Jordan', 5), ('Harlingen', 5), ('Warwick', 5), ('Mission Viejo', 5), ('Vancouver', 5), ('Tyler', 5), ('Palm Coast', 5), ('Olympia', 5), ('Encinitas', 5), ('Rockville', 5), ('Deltona', 5), ('Murray', 5), ('New Bedford', 5), ('Olathe', 5), ('Reading', 5), ('Broomfield', 5), ('Mesquite', 5), ('York', 5), ('Salt Lake City', 5), ('Bangor', 5), ('Thousand Oaks', 5), ('Woodstock', 5), ('Gresham', 5), ('Carol Stream', 5), ('Broken Arrow', 5), ('La Crosse', 5), ('Logan', 5), ('Bethlehem', 5), ('Ann Arbor', 5), ('Hendersonville', 5), ('Wilson', 5), ('Beaumont', 5), ('Camarillo', 5), ('Garden City', 5), ('East Orange', 5), ('New Albany', 4), ('Hamilton', 4), ('Santa Clara', 4), ('Tamarac', 4), ('Arvada', 4), ('Hesperia', 4), ('Gastonia', 4), ('Dearborn', 4), ('Evanston', 4), ('Garland', 4), ('Norwich', 4), ('Reno', 4), ('Coppell', 4), ('Allen', 4), ('Muskogee', 4), ('Leominster', 4), ('Rancho Cucamonga', 4), ('Saint Louis', 4), ('San Angelo', 4), ('Elmhurst', 4), ('Haltom City', 4), ('Hot Springs', 4), ('Hoover', 4), ('Noblesville', 4), ('Stockton', 4), ('Pharr', 4), ('Meridian', 4), ('Maple Grove', 4), ('Visalia', 4), ('Temecula', 4), ('Odessa', 4), ('Woonsocket', 4), ('Bedford', 4), ('Covington', 4), ('Boise', 4), ('Daytona Beach', 4), ('Lawton', 4), ('Lewiston', 4), ('Yuma', 4), ('Wausau', 4), ('Loveland', 4), ('Hillsboro', 4), ('Morgan Hill', 4), ('Sheboygan', 4), ('Andover', 4), ('San Marcos', 4), ('Urbandale', 3), ('Taylor', 3), ('Canton', 3), ('Park Ridge', 3), ('Green Bay', 3), ('Sierra Vista', 3), ('Farmington', 3), ('Torrance', 3), ('Boca Raton', 3), ('Homestead', 3), ('Cuyahoga Falls', 3), ('Escondido', 3), ('Gulfport', 3), ('Niagara Falls', 3), ('Thomasville', 3), ('Laguna Niguel', 3), ('Bayonne', 3), ('College Station', 3), ('Manteca', 3), ('Lincoln Park', 3), ('Malden', 3), ('Bellingham', 3), ('Las Cruces', 3), ('Pompano Beach', 3), ('Lake Charles', 3), ('Sterling Heights', 3), ('Woodland', 3), ('Pearland', 3), ('Saint Cloud', 3), ('Port Saint Lucie', 3), ('Edinburg', 3), ('Greenwood', 3), ('The Colony', 3), ('San Gabriel', 3), ('Oak Park', 3), ('Helena', 3), ('Woodbury', 3), ('Draper', 3), ('Holland', 3), ('Lebanon', 3), ('Longview', 3), ('Beverly', 3), ('Renton', 3), ('Delray Beach', 3), ('Texas City', 3), ('West Palm Beach', 3), ('Burbank', 3), ('Modesto', 3), ('East Point', 3), ('Oswego', 3), ('Mason', 3), ('Richardson', 2), ('Saint Paul', 2), ('Independence', 2), ('Edmond', 2), ('Norman', 2), ('Gladstone', 2), ('Marysville', 2), ('Grove City', 2), ('Warner Robins', 2), ('Cottage Grove', 2), ('New Brunswick', 2), ('Royal Oak', 2), ('Bridgeton', 2), ('Appleton', 2), ('Grapevine', 2), ('Charlottesville', 2), ('Bozeman', 2), ('Moorhead', 2), ('New Castle', 2), ('Sparks', 2), ('North Charleston', 2), ('Jamestown', 2), ('Mishawaka', 2), ('Englewood', 2), ('Frisco', 2), ('Mount Pleasant', 2), ('Dubuque', 2), ('Santa Fe', 2), ('North Miami', 2), ('West Allis', 2), ('Texarkana', 2), ('Medford', 2), ('Bullhead City', 2), ('Elkhart', 2), ('Gaithersburg', 2), ('Lehi', 2), ('Tuscaloosa', 2), ('Frankfort', 2), ('Clovis', 2), ('Cedar Hill', 2), ('La Mesa', 2), ('Buffalo Grove', 2), ('Owensboro', 2), ('Caldwell', 2), ('Kenner', 2), ('Nashua', 2), ('Rio Rancho', 2), ('El Cajon', 2), ('Longmont', 2), ('Clifton', 2), ('Rapid City', 2), ('Shelton', 2), ('Sanford', 2), ('Greeley', 2), ('Mansfield', 2), ('Twin Falls', 2), ('Coral Gables', 2), ('Marlborough', 2), ('Laurel', 2), ('Pine Bluff', 2), ('Coon Rapids', 2), ('San Clemente', 2), ('Melbourne', 1), ('Orland Park', 1), ('Whittier', 1), ('Chapel Hill', 1), ('Lindenhurst', 1), ('Rochester Hills', 1), ('Lake Elsinore', 1), ('Linden', 1), ('Murrieta', 1), ('Jefferson City', 1), ('Saint Peters', 1), ('Antioch', 1), ('Cedar Rapids', 1), ('Pico Rivera', 1), ('Keller', 1), ('Port Orange', 1), ('Missoula', 1), ('Ontario', 1), ('Ormond Beach', 1), ('Littleton', 1), ('Holyoke', 1), ('Coachella', 1), ('La Quinta', 1), ('Summerville', 1), ('Vacaville', 1), ('Waukesha', 1), ('Billings', 1), ('Missouri City', 1), ('San Mateo', 1), ('Yucaipa', 1), ('Conroe', 1), ('Tinley Park', 1), ('Hickory', 1), ('Rock Hill', 1), ('Manhattan', 1), ('Altoona', 1), ('Champaign', 1), ('Baytown', 1), ('Deer Park', 1), ('Iowa City', 1), ('Citrus Heights', 1), ('Portage', 1), ('Margate', 1), ('Pensacola', 1), ('Kirkwood', 1), ('Grand Island', 1), ('Rogers', 1), ('Jupiter', 1), ('Norfolk', 1), ('Redding', 1), ('Conway', 1), ('Cheyenne', 1), ('Redwood City', 1), ('Chula Vista', 1), ('Santa Maria', 1), ('Waterloo', 1), ('Palatine', 1), ('Glenview', 1), ('Commerce City', 1), ('Goldsboro', 1), ('Montebello', 1), ('Abilene', 1), ('Normal', 1), ('Atlantic City', 1), ('Davis', 1), ('Kissimmee', 1), ('Danbury', 1), ('Elyria', 1), ('Romeoville', 1), ('Aberdeen', 1), ('Hagerstown', 1), ('Arlington Heights', 1), ('San Luis Obispo', 1), ('Springdale', 1), ('Lodi', 1)]
> Finished chain.

In [61]:
qns1

{'query': 'How many orders were placed in each city?',
 'result': "[('New York City', 893), ('Los Angeles', 731), ('Philadelphia', 507), ('San Francisco', 494), ('Seattle', 412), ('Houston', 370), ('Chicago', 301), ('Columbus', 214), ('San Diego', 166), ('Springfield', 158), ('Dallas', 149), ('Jacksonville', 121), ('Detroit', 111), ('Newark', 93), ('Richmond', 88), ('Jackson', 79), ('Columbia', 78), ('Aurora', 67), ('Phoenix', 61), ('San Antonio', 59), ('Arlington', 59), ('Long Beach', 58), ('Louisville', 57), ('Miami', 55), ('Charlotte', 52), ('Henderson', 51), ('Rochester', 51), ('Lakewood', 48), ('Milwaukee', 45), ('Lawrence', 44), ('Fairfield', 43), ('Denver', 43), ('Lancaster', 43), ('Cleveland', 42), ('Baltimore', 42), ('Pasadena', 41), ('San Jose', 41), ('Fayetteville', 40), ('Salem', 40), ('Atlanta', 39), ('Austin', 38), ('Wilmington', 35), ('Tampa', 35), ('Huntsville', 35), ('Decatur', 34), ('Franklin', 34), ('Concord', 31), ('Toledo', 31), ('Tucson', 30), ('Oceanside', 30), ('Providence', 30), ('Lafayette', 30), ('Clinton', 29), ('Nashville', 29), ('Troy', 28), ('Mesa', 28), ('Fort Worth', 27), ('Memphis', 27), ('Omaha', 27), ('Anaheim', 26), ('Oakland', 26), ('Tulsa', 26), ('Roseville', 25), ('Colorado Springs', 25), ('Fresno', 25), ('Portland', 24), ('Burlington', 24), ('Minneapolis', 23), ('Peoria', 23), ('Auburn', 23), ('Smyrna', 23), ('Indianapolis', 23), ('Knoxville', 23), ('Little Rock', 23), ('Everett', 22), ('Raleigh', 22), ('Oklahoma City', 22), ('Monroe', 21), ('Akron', 21), ('Lakeland', 21), ('Florence', 21), ('Glendale', 21), ('Quincy', 19), ('El Paso', 19), ('Paterson', 19), ('Marion', 19), ('Dover', 18), ('Roswell', 18), ('Mcallen', 18), ('Des Moines', 17), ('Hialeah', 17), ('Chesapeake', 17), ('Redlands', 16), ('Brentwood', 16), ('Cincinnati', 16), ('Chester', 16), ('Virginia Beach', 16), ('North Las Vegas', 16), ('Tallahassee', 16), ('Bakersfield', 16), ('Fort Lauderdale', 15), ('Bloomington', 15), ('Lakeville', 15), ('Lowell', 15), ('Yonkers', 15), ('Westminster', 15), ('Carrollton', 15), ('Plano', 15), ('Cranston', 15), ('Gilbert', 14), ('Dublin', 14), ('Inglewood', 14), ('Saint Petersburg', 14), ('Pembroke Pines', 14), ('Edmonds', 14), ('Santa Ana', 14), ('Alexandria', 14), ('Albuquerque', 14), ('Grand Prairie', 13), ('Las Vegas', 13), ('Laredo', 13), ('Plainfield', 13), ('Trenton', 13), ('Riverside', 13), ('Greensboro', 13), ('Sandy Springs', 13), ('Westland', 12), ('Bristol', 12), ('Scottsdale', 12), ('Tempe', 12), ('Kent', 12), ('Midland', 12), ('Sacramento', 12), ('Carlsbad', 11), ('Murfreesboro', 11), ('Manchester', 11), ('Costa Mesa', 11), ('Rockford', 11), ('Jonesboro', 11), ('Mobile', 11), ('Johnson City', 11), ('Newport News', 11), ('Orlando', 11), ('Hempstead', 11), ('Plantation', 11), ('Hollywood', 11), ('Hampton', 11), ('Waterbury', 11), ('Madison', 10), ('Amarillo', 10), ('Montgomery', 10), ('Waynesboro', 10), ('Washington', 10), ('Buffalo', 10), ('Boynton Beach', 10), ('Freeport', 10), ('Parma', 10), ('Suffolk', 10), ('Redmond', 10), ('Meriden', 10), ('Bowling Green', 10), ('Chattanooga', 10), ('Moreno Valley', 10), ('Chico', 10), ('Orem', 9), ('Durham', 9), ('Medina', 9), ('Belleville', 9), ('La Porte', 9), ('Greenville', 9), ('Middletown', 9), ('Provo', 9), ('Watertown', 9), ('Kenosha', 9), ('San Bernardino', 9), ('Sioux Falls', 9), ('Apple Valley', 9), ('Thornton', 9), ('Superior', 9), ('Hattiesburg', 9), ('Saint Charles', 9), ('Fremont', 8), ('Naperville', 8), ('Eagan', 8), ('New Rochelle', 8), ('Parker', 8), ('Mount Vernon', 8), ('Salinas', 8), ('Lansing', 8), ('Coral Springs', 8), ('Pueblo', 8), ('Lorain', 8), ('Irving', 8), ('Vineland', 8), ('Skokie', 8), ('Corpus Christi', 8), ('Redondo Beach', 8), ('Athens', 8), ('Georgetown', 8), ('Santa Barbara', 8), ('Utica', 8), ('Oxnard', 8), ('Morristown', 7), ('Great Falls', 7), ('Asheville', 7), ('Round Rock', 7), ('Brownsville', 7), ('Harrisonburg', 7), ('Pomona', 7), ('Allentown', 7), ('Tigard', 7), ('Spokane', 7), ('Apopka', 7), ('Perth Amboy', 7), ('Southaven', 7), ('Fort Collins', 7), ('Clarksville', 7), ('Wheeling', 7), ('Highland Park', 7), ('Revere', 7), ('Miramar', 7), ('Wichita', 7), ('Fargo', 7), ('Danville', 7), ('Marietta', 7), ('Chandler', 7), ('Westfield', 6), ('Saginaw', 6), ('Hackensack', 6), ('Huntington Beach', 6), ('Vallejo', 6), ('Cary', 6), ('Bossier City', 6), ('Macon', 6), ('Pleasant Grove', 6), ('Bellevue', 6), ('South Bend', 6), ('Lubbock', 6), ('Sunnyvale', 6), ('Passaic', 6), ('Orange', 6), ('Eau Claire', 6), ('Bolingbrook', 6), ('Grand Rapids', 6), ('Overland Park', 6), ('Dearborn Heights', 6), ('Port Arthur', 6), ('Mentor', 6), ('Rome', 6), ('Avondale', 6), ('Pasco', 6), ('League City', 6), ('Waco', 6), ('Pocatello', 6), ('Milford', 6), ('Lake Forest', 6), ('Des Plaines', 6), ('Cambridge', 6), ('Eugene', 6), ('Bryan', 6), ('West Jordan', 5), ('Harlingen', 5), ('Warwick', 5), ('Mission Viejo', 5), ('Vancouver', 5), ('Tyler', 5), ('Palm Coast', 5), ('Olympia', 5), ('Encinitas', 5), ('Rockville', 5), ('Deltona', 5), ('Murray', 5), ('New Bedford', 5), ('Olathe', 5), ('Reading', 5), ('Broomfield', 5), ('Mesquite', 5), ('York', 5), ('Salt Lake City', 5), ('Bangor', 5), ('Thousand Oaks', 5), ('Woodstock', 5), ('Gresham', 5), ('Carol Stream', 5), ('Broken Arrow', 5), ('La Crosse', 5), ('Logan', 5), ('Bethlehem', 5), ('Ann Arbor', 5), ('Hendersonville', 5), ('Wilson', 5), ('Beaumont', 5), ('Camarillo', 5), ('Garden City', 5), ('East Orange', 5), ('New Albany', 4), ('Hamilton', 4), ('Santa Clara', 4), ('Tamarac', 4), ('Arvada', 4), ('Hesperia', 4), ('Gastonia', 4), ('Dearborn', 4), ('Evanston', 4), ('Garland', 4), ('Norwich', 4), ('Reno', 4), ('Coppell', 4), ('Allen', 4), ('Muskogee', 4), ('Leominster', 4), ('Rancho Cucamonga', 4), ('Saint Louis', 4), ('San Angelo', 4), ('Elmhurst', 4), ('Haltom City', 4), ('Hot Springs', 4), ('Hoover', 4), ('Noblesville', 4), ('Stockton', 4), ('Pharr', 4), ('Meridian', 4), ('Maple Grove', 4), ('Visalia', 4), ('Temecula', 4), ('Odessa', 4), ('Woonsocket', 4), ('Bedford', 4), ('Covington', 4), ('Boise', 4), ('Daytona Beach', 4), ('Lawton', 4), ('Lewiston', 4), ('Yuma', 4), ('Wausau', 4), ('Loveland', 4), ('Hillsboro', 4), ('Morgan Hill', 4), ('Sheboygan', 4), ('Andover', 4), ('San Marcos', 4), ('Urbandale', 3), ('Taylor', 3), ('Canton', 3), ('Park Ridge', 3), ('Green Bay', 3), ('Sierra Vista', 3), ('Farmington', 3), ('Torrance', 3), ('Boca Raton', 3), ('Homestead', 3), ('Cuyahoga Falls', 3), ('Escondido', 3), ('Gulfport', 3), ('Niagara Falls', 3), ('Thomasville', 3), ('Laguna Niguel', 3), ('Bayonne', 3), ('College Station', 3), ('Manteca', 3), ('Lincoln Park', 3), ('Malden', 3), ('Bellingham', 3), ('Las Cruces', 3), ('Pompano Beach', 3), ('Lake Charles', 3), ('Sterling Heights', 3), ('Woodland', 3), ('Pearland', 3), ('Saint Cloud', 3), ('Port Saint Lucie', 3), ('Edinburg', 3), ('Greenwood', 3), ('The Colony', 3), ('San Gabriel', 3), ('Oak Park', 3), ('Helena', 3), ('Woodbury', 3), ('Draper', 3), ('Holland', 3), ('Lebanon', 3), ('Longview', 3), ('Beverly', 3), ('Renton', 3), ('Delray Beach', 3), ('Texas City', 3), ('West Palm Beach', 3), ('Burbank', 3), ('Modesto', 3), ('East Point', 3), ('Oswego', 3), ('Mason', 3), ('Richardson', 2), ('Saint Paul', 2), ('Independence', 2), ('Edmond', 2), ('Norman', 2), ('Gladstone', 2), ('Marysville', 2), ('Grove City', 2), ('Warner Robins', 2), ('Cottage Grove', 2), ('New Brunswick', 2), ('Royal Oak', 2), ('Bridgeton', 2), ('Appleton', 2), ('Grapevine', 2), ('Charlottesville', 2), ('Bozeman', 2), ('Moorhead', 2), ('New Castle', 2), ('Sparks', 2), ('North Charleston', 2), ('Jamestown', 2), ('Mishawaka', 2), ('Englewood', 2), ('Frisco', 2), ('Mount Pleasant', 2), ('Dubuque', 2), ('Santa Fe', 2), ('North Miami', 2), ('West Allis', 2), ('Texarkana', 2), ('Medford', 2), ('Bullhead City', 2), ('Elkhart', 2), ('Gaithersburg', 2), ('Lehi', 2), ('Tuscaloosa', 2), ('Frankfort', 2), ('Clovis', 2), ('Cedar Hill', 2), ('La Mesa', 2), ('Buffalo Grove', 2), ('Owensboro', 2), ('Caldwell', 2), ('Kenner', 2), ('Nashua', 2), ('Rio Rancho', 2), ('El Cajon', 2), ('Longmont', 2), ('Clifton', 2), ('Rapid City', 2), ('Shelton', 2), ('Sanford', 2), ('Greeley', 2), ('Mansfield', 2), ('Twin Falls', 2), ('Coral Gables', 2), ('Marlborough', 2), ('Laurel', 2), ('Pine Bluff', 2), ('Coon Rapids', 2), ('San Clemente', 2), ('Melbourne', 1), ('Orland Park', 1), ('Whittier', 1), ('Chapel Hill', 1), ('Lindenhurst', 1), ('Rochester Hills', 1), ('Lake Elsinore', 1), ('Linden', 1), ('Murrieta', 1), ('Jefferson City', 1), ('Saint Peters', 1), ('Antioch', 1), ('Cedar Rapids', 1), ('Pico Rivera', 1), ('Keller', 1), ('Port Orange', 1), ('Missoula', 1), ('Ontario', 1), ('Ormond Beach', 1), ('Littleton', 1), ('Holyoke', 1), ('Coachella', 1), ('La Quinta', 1), ('Summerville', 1), ('Vacaville', 1), ('Waukesha', 1), ('Billings', 1), ('Missouri City', 1), ('San Mateo', 1), ('Yucaipa', 1), ('Conroe', 1), ('Tinley Park', 1), ('Hickory', 1), ('Rock Hill', 1), ('Manhattan', 1), ('Altoona', 1), ('Champaign', 1), ('Baytown', 1), ('Deer Park', 1), ('Iowa City', 1), ('Citrus Heights', 1), ('Portage', 1), ('Margate', 1), ('Pensacola', 1), ('Kirkwood', 1), ('Grand Island', 1), ('Rogers', 1), ('Jupiter', 1), ('Norfolk', 1), ('Redding', 1), ('Conway', 1), ('Cheyenne', 1), ('Redwood City', 1), ('Chula Vista', 1), ('Santa Maria', 1), ('Waterloo', 1), ('Palatine', 1), ('Glenview', 1), ('Commerce City', 1), ('Goldsboro', 1), ('Montebello', 1), ('Abilene', 1), ('Normal', 1), ('Atlantic City', 1), ('Davis', 1), ('Kissimmee', 1), ('Danbury', 1), ('Elyria', 1), ('Romeoville', 1), ('Aberdeen', 1), ('Hagerstown', 1), ('Arlington Heights', 1), ('San Luis Obispo', 1), ('Springdale', 1), ('Lodi', 1)]"}

In [62]:
#Getting table of pandas dataframe from the result
import pandas as pd
result_list = eval(qns1['result'])
df = pd.DataFrame(result_list)
print(df)

                     0    1
0        New York City  893
1          Los Angeles  731
2         Philadelphia  507
3        San Francisco  494
4              Seattle  412
..                 ...  ...
524         Hagerstown    1
525  Arlington Heights    1
526    San Luis Obispo    1
527         Springdale    1
528               Lodi    1

[529 rows x 2 columns]

### Creating Semantic Similarity Based example selector
- create embedding on the few_shots: Using Google Gen Embeddings
- Store the embeddings in a vector store: FAISS index
- Retrieve the the top most Semantically close example from the vector store

In [63]:
#Using Google 
from langchain_google_genai import GoogleGenerativeAIEmbeddings
embeddings=GoogleGenerativeAIEmbeddings(model='models/embedding-001')

In [64]:
#Need to combine all values in the few shot examples into one sentence
from few_shots import few_shots
# creating a blob of all the sentences
to_vectorize = [" ".join(example.values()) for example in few_shots]

In [65]:
#Using the FAISS vector database
from langchain.vectorstores import FAISS #vector embeddngs

#generating a vector store: 
vector_store=FAISS.from_texts(to_vectorize, embeddings, metadatas=few_shots)

In [66]:
#Checking sematic similarity: # Helping to pull similar looking queries
from langchain.prompts import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector(
    vectorstore = vector_store,
    k=2, #number of examples
)

example_selector.select_examples({"Question": "How many orders were placed from the store?"})

[{'Question': 'How many orders were placed in total?',
  'SQLQuery': 'SELECT COUNT(*) FROM orders',
  'SQLResult': 'Result of the SQL query',
  'Answer': 'Answer'},
 {'Question': 'How many unique customers placed orders?',
  'SQLQuery': 'SELECT COUNT(DISTINCT Customer_ID) FROM orders',
  'SQLResult': 'Result of the SQL query',
  'Answer': 'Answer'}]

### Setting up Prompts

Adding custom prompts to provide better context to the LLM

In [67]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt
from langchain.prompts.prompt import PromptTemplate
#adding mysql prompt
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [68]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [69]:
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".
For results with decimals, round off the numbers to 2 decimal places unless specified otherwise by the user.
Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery

"""

In [70]:
#Example prompt format
example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult"],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}",
)

In [71]:
# Entire Prompt
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [74]:
#Chain_
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt,return_direct=True)

In [75]:
#Checking how the new chain performs
new_chain("Which city has the highest total sales?")

> Entering new SQLDatabaseChain chain...
Which city has the highest total sales?
SQLQuery:SELECT City, SUM(Sales) AS TotalSales FROM orders GROUP BY City ORDER BY TotalSales DESC LIMIT 1
SQLResult: [('New York City', 255248.969)]
> Finished chain.

{'query': 'Which city has the highest total sales?',
 'result': "[('New York City', 255248.969)]"}

In [76]:
#Function to return dataframe
def return_df(response):
    result_list = eval(response['result'])
    df = pd.DataFrame(result_list)
    return df

In [77]:
response = new_chain("Which city has the highest total sales?")
df = return_df(response)
df.head()

> Entering new SQLDatabaseChain chain...
Which city has the highest total sales?
SQLQuery:SELECT City, SUM(Sales) AS TotalSales FROM orders GROUP BY City ORDER BY TotalSales DESC LIMIT 1
SQLResult: [('New York City', 255248.969)]
> Finished chain.

               0           1
0  New York City  255248.969

In [78]:
response = new_chain("How many unique product names are there in the orders table?")
df = return_df(response)
df.head()

> Entering new SQLDatabaseChain chain...
How many unique product names are there in the orders table?
SQLQuery:SELECT COUNT(DISTINCT Product_Name) FROM orders
SQLResult: [(1797,)]
> Finished chain.

      0
0  1797

In [79]:
response = new_chain("How many returns were made for each sub-category of office supplies?")
df = return_df(response)
df.head()

> Entering new SQLDatabaseChain chain...
How many returns were made for each sub-category of office supplies?
SQLQuery:SELECT Sub_Category, COUNT(*) FROM orders WHERE Category = 'Office Supplies' AND Returned = 'Yes' GROUP BY Sub_Category

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'Returned' in 'where clause'")
[SQL: SELECT Sub_Category, COUNT(*) FROM orders WHERE Category = 'Office Supplies' AND Returned = 'Yes' GROUP BY Sub_Category]
(Background on this error at: https://sqlalche.me/e/20/e3q8)